body {background-image: url("mybackground.jpg")
#nav-table {width: 800px;}
#nav-td {width: 200px; text-align:center;}
#matt-pic {width: 100px; float: left;}
#patriots-pic {width: 100px; float: left;}
#photo-pic {width: 100px; float: right;}
#porshe-pic {width: 100px; float: right;}
